{% extends "base.html" %}

{% block page_content %}
<div class='container', style="margin-bottom: 250px">
	<h1>Percentage of Countries That Have Their Comments Sections Disabled</h1>
	<!-- CHARTS GO HERE -->
	{% autoescape off %}
	{{disabledCommentsFig}}
	{% endautoescape %}
</div>
<div class='container', style="margin-bottom: 150px">
	<h1>Percentage of Countries That Have Their Ratings Bars Disabled</h1>
	<!-- CHARTS GO HERE -->
	{% autoescape off %}
	{{disabledRatingsFig}}
	{% endautoescape %}
</div>
{% endblock %}