{% extends "base.html" %}

{% block page_content %}
<div class='container'>
	<h1>Top 20 Most Disliked Videos</h1>
	<!-- CHARTS GO HERE -->
	{% autoescape off %}
	{{mostDislikedDiv}}
	{% endautoescape %}
</div>
<div style="margin-top: 150px; margin-left: 700px; margin-right: 700px; margin-bottom: 150px; border: 5px; border-style: solid; border-color: #000000; padding: 1em; text-align: center">
	<h5>
		Average Number of Dislikes Per Video:
	</h5>
	<h1>
		{{averageMostDislikes}}
	</h1>
</div>
{% endblock %}