{% extends "base.html" %}

{% block page_content %}
	<div class='container'>
		<body style="background-image: linear-gradient(to right, #445898 , #995A10);">
		<h1 style="color: white;">Trending videos on Youtube in the United States</h1>
		<!-- FORM GOES HERE -->
		<form method="GET" style="color: white;">
			{{ form.as_p }}
			{% csrf_token %}
			<button style="background-color:#17a2b8; color:white; width: 75px;height: 40px; border-radius: 25px; border: none" onclick="location.href='http://127.0.0.1:8000/'" type="button">
         		Home</button value="Submit">
			<input type="submit" style="border-radius: 25px" class="btn btn-info" value="Submit">
		</form>
		{% if data.channel_title == None %}
		{% else %}
		<h1 style="color: white;">These are the results for {{data.channel_title}}</h1>
		<table class="table" style="border-collapse: collapse; color: white;">
			<thead class="thead-dark">
			<tr>
				<th> Video ID </th>
				<th> Channel Title </th>
				<th> Publish Time </th>
				<th> Category ID </th>
				<th> Trending Date </th>
				<th> View Count </th>
				<th> Likes </th>
				<th> Dislikes </th>
				<th> Comment Count </th>
			</tr>
			</thead>
			<tbody>
			<tr style="border: none">
			{% for value in search.values %}
				<td style="border-right: solid 1px black; border-left: solid 1px black;">
				{% for v in value %}
					{{ v }}<br>
				{% endfor %}
				</td>
			{% endfor %}
			</tr>
			</tbody>
		</table>
		{% endif %}
	</div>
{% endblock %}